{% extends 'layout/main.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    {{ form_row(form._target_path) }}
    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}